<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Sekuya&display=swap"
        rel="stylesheet">
    <title>box model</title>
</head>

<body>
    <main>
        <article>
            <header>
                <h1>Box Model</h1>
            </header>
            <div>

                <section class="class_list_image">
                    <h2>Width and Height</h2>
                    <figure>
                        <img src="https://i.pinimg.com/736x/23/08/2c/23082cfbb53340345504948df97cdadd.jpg" alt="">
                        <figcaption>Galinha com cabelo</figcaption>
                    </figure>


                    <p><span>Lorem</span> ipsum dolor sit, amet consectetur adipisicing elit. Neque distinctio autem
                        nihil
                        eligendi,
                        officiis iusto
                        facere placeat modi eaque alias?</p>
                </section>

                <section>
                    <h2>Padding</h2>
                    <p><span>Lorem</span> ipsum dolor sit, amet consectetur adipisicing elit. Neque distinctio autem
                        nihil
                        eligendi,
                        officiis iusto
                        facere placeat modi eaque alias?</p>
                </section>

                <section>
                    <h2>Margin</h2>
                    <p><span>Lorem</span> ipsum dolor sit, amet consectetur adipisicing elit. Neque distinctio autem
                        nihil
                        eligendi,
                        officiis iusto
                        facere placeat modi eaque alias?</p>
                </section>

                <section>
                    <h2>Border</h2>
                    <p><span>Lorem</span> ipsum dolor sit, amet consectetur adipisicing elit. Neque distinctio autem
                        nihil
                        eligendi,
                        officiis iusto
                        facere placeat modi eaque alias?</p>
                </section>

                <section>
                    <h2 class="outline">Outline</h2>
                    <p><span>Lorem</span> ipsum dolor sit, amet consectetur adipisicing elit. Neque distinctio autem
                        nihil
                        eligendi,
                        officiis iusto
                        facere placeat modi eaque alias?</p>
                </section>
            </div>
        </article>
    </main>
</body>

</html>