<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>box model</title>
</head>

<body>
    <h1>Box Model</h1>

    <h2>Width and Height</h2>
    <img src="https://i.pinimg.com/736x/23/08/2c/23082cfbb53340345504948df97cdadd.jpg" alt="galinha com cabelo">
    <img src="https://i.pinimg.com/736x/23/08/2c/23082cfbb53340345504948df97cdadd.jpg" alt="galinha com cabelo">
    <img src="https://i.pinimg.com/736x/23/08/2c/23082cfbb53340345504948df97cdadd.jpg" alt="galinha com cabelo">
    <img src="https://i.pinimg.com/736x/23/08/2c/23082cfbb53340345504948df97cdadd.jpg" alt="galinha com cabelo">
    <img src="https://i.pinimg.com/736x/23/08/2c/23082cfbb53340345504948df97cdadd.jpg" alt="galinha com cabelo">
    <img src="https://i.pinimg.com/736x/23/08/2c/23082cfbb53340345504948df97cdadd.jpg" alt="galinha com cabelo">
    <img src="https://i.pinimg.com/736x/23/08/2c/23082cfbb53340345504948df97cdadd.jpg" alt="galinha com cabelo">
    <img src="https://i.pinimg.com/736x/23/08/2c/23082cfbb53340345504948df97cdadd.jpg" alt="galinha com cabelo">
    <img src="https://i.pinimg.com/736x/23/08/2c/23082cfbb53340345504948df97cdadd.jpg" alt="galinha com cabelo">


    <p><span>Lorem</span> ipsum dolor sit, amet consectetur adipisicing elit. Neque distinctio autem nihil eligendi,
        officiis iusto
        facere placeat modi eaque alias?</p>

    <h2>Padding</h2>
    <p><span>Lorem</span> ipsum dolor sit, amet consectetur adipisicing elit. Neque distinctio autem nihil eligendi,
        officiis iusto
        facere placeat modi eaque alias?</p>

    <h2>Margin</h2>
    <p><span>Lorem</span> ipsum dolor sit, amet consectetur adipisicing elit. Neque distinctio autem nihil eligendi,
        officiis iusto
        facere placeat modi eaque alias?</p>

    <h2>Border</h2>
    <p><span>Lorem</span> ipsum dolor sit, amet consectetur adipisicing elit. Neque distinctio autem nihil eligendi,
        officiis iusto
        facere placeat modi eaque alias?</p>

    <h2 class="outline">Outline</h2>
    <p><span>Lorem</span> ipsum dolor sit, amet consectetur adipisicing elit. Neque distinctio autem nihil eligendi,
        officiis iusto
        facere placeat modi eaque alias?</p>

</body>

</html>