<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/curriculo_example.css">
    <meta name="description"
        content="curriculo de renato oliveira, desenvolvedor front end, webdesigner, html5, css3, javascript">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Sekuya&display=swap"
        rel="stylesheet">

    <title>Curriculo Exemplo</title>
</head>

<body>
    <header>
        <h1>gustavo ppende</h1>
        <p>Brasileiro, solteiro, 30 anos.</p>
    </header>
    <main>
        <section id="objetivo">
            <h2>Objetivo</h2>
            <article>Front-End Developer, Desenvolvedor Front End, Webdesigner</article>
        </section>

        <section id="experiencia">
            <h2>Experiência Profissional</h2>
            <article class="cargo">
                <h3>UOL - 2 meses</h3>
                <p>Desenvolvimento de aplicacoes web com html.</p>
            </article>
            <article class="cargo">
                <h3>Terra - 1 ano</h3>
                <p> Atuei como Desenvolvedor Front-End Pleno, participando ativamente em todos os projetos da empresa
                    (aplicação WEB, aplicativo Mobile e Portais).



                    Trabalhei efetivamente usando tecnologias como HTML5, CSS, AngularJS, Wordpress, PHP, JSON e
                    Javascript.
                </p>
            </article>
        </section>
        <section id="formacao">
            <h2>Formação Academica</h2>
            <article>
                <h3>Graduacao em Tecnologia da Informacao</h3>
                <ul>
                    <li>
                        <time datetime="2010-08"> agosto de 2010</time> a
                        <time datetime="2015-12"> dezembro de 2015</time>

                    </li>
                    <li>Faculdade qualquer</li>
                </ul>
            </article>
            <article>
                <h3>Pos-graduacao em projetos computacionais</h3>
                <ul>
                    <li>
                        <time datetime="2014-08"> agosto de 2014</time> a
                        <time datetime="2015-12"> dezembro de 2015</time>
                    </li>
                    <li>Faculdade qualquer</li>
                </ul>
            </article>

        </section>

        <section>
            <h2>Cursos | Especializacoes</h2>
            <article>
                <h3>Curso de HTML5 e CSS3</h3>
                <ul>
                    <li><time datetime="2014-08"> agosto de 2014</time> a
                        <time datetime="2015-12"> dezembro de 2015</time>
                    </li>
                    <li>Udemy</li>
                </ul>
            </article>

            <article>
                <h3>Javascript</h3>
                <ul>
                    <li><time datetime="2014-08"> agosto de 2014</time> a
                        <time datetime="2015-12"> dezembro de 2015</time>
                    </li>
                    <li>Udemy</li>
                </ul>
            </article>

        </section>
    </main>
    <footer>
        <small>Atualizado em: <time datetime="2026-04-18">abril de 2026</time></small>
    </footer>
</body>

</html>