<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/index.css">
    <link rel="shortcut icon" href="./images/home.png" type="image/x-icon">

    <!-- Para baixo temos fontes importadas do google api fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=BJ+Cree:wght@400;500;600;700&family=Bitcount+Grid+Double:wght@100..900&family=Fira+Code:wght@300..700&family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sekuya&display=swap"
        rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=BJ+Cree:wght@400;500;600;700&family=Bitcount+Grid+Double:wght@100..900&family=Fira+Code:wght@300..700&family=Orbitron:wght@400..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sekuya&display=swap"
        rel="stylesheet">

    <title>raiz</title>
</head>

<body>
    <header>
        <h1>WELCOME TO THE</h1>
        <h2><span>HOME</span> PAGE</h2>
    </header>
    <main>
        <article>
            <div class="container">
                <ul>
                    <li><a href="box_model.html">BOX MODEL</a></li>
                    <li><a href="box_sizing.html">BOX SIZING</a></li>
                    <li><a href="hello.html">HELLO</a></li>
                    <li><a href="layout_display.html">LAYOUT DISPLAY</a></li>
                    <li><a href="margin_auto.html">MARGIN AUTO</a></li>
                    <li><a href="pseudo_classes.html">PSEUDO CLASSES</a></li>
                    <li><a href="list_style.html">LIST STYLE</a></li>
                </ul>

            </div>
        </article>
    </main>

</body>

</html>