<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/layout_display.css">
    <title>Layout Display</title>
</head>

<body>
    <header>
        <h1>Layout Display</h1>
    </header>
    <main>
        <article>
            <h2>Learning sobre layout display</h2>
            <div class="div-lorem-p">
                <section>
                    <h2>exemplo</h2>
                    <p class="p1-lorem"><span>Lorem</span>, ipsum dolor sit amet consectetur adipisicing elit. Et, earum
                        facere.
                        Recusandae, eos et. Illo
                        quo asperiores vero quisquam natus amet nesciunt aperiam perspiciatis officia, enim sit facere
                        numquam illum!</p>
                </section>
                <section>
                    <h2>Exemplo</h2>
                    <p class="p2-lorem">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                        quo asperiores vero quisquam natus amet nesciunt aperiam perspiciatis officia, enim sit facere
                        numquam <span class="in-block">illum!</span></p>
                </section>
            </div>
            <section>
                <h2>Display:block</h2>
                <p>O <span>display: block</span> é o comportamento padrão de alguns elementos (como
                    parágrafos e
                    títulos). A principal característica dele é que o elemento se comporta como um bloco de verdade: ele
                    ocupa toda a largura da linha disponível, da esquerda até a direita. Por causa disso, ele causa uma
                    quebra de linha automática, empurrando qualquer outro elemento que venha depois para a linha de
                    baixo. Ele "consome" todo o espaço horizontal daquela linha onde ele está.
                </p>
            </section>
            <section>
                <h2>Display:inline</h2>
                <p>O <span>display: block</span> é o comportamento padrão de alguns elementos (como
                    O display: inline funciona de forma contrária ao bloco. Ele não consome a linha inteira e nem força
                    uma quebra de página. O elemento ocupa apenas o espaço necessário do seu próprio conteúdo,
                    permitindo que outros elementos fiquem logo ao lado dele, na mesma linha. Ele é muito usado dentro
                    de textos, como nas tags &lt;span&gt; (para estilizar um trecho específico) e &lt;em&gt; (para dar
                    ênfase/itálico), que não "quebram" o parágrafo.
                </p>
            </section>
            <section>
                <h2>Display:inline-block</h2>
                <p>O <span>inline-block</span> é um meio-termo. Ele permite que o elemento se comporte como um bloco
                    (aceitando que a gente defina largura e altura, por exemplo), mas sem quebrar a lógica do inline
                    (ele continua ficando um ao lado do outro, sem forçar aquela quebra de linha que o bloco puro faz).
                    É como se ele ganhasse os "poderes" de um bloco, mas mantivesse a "postura" de um inline.

                </p>
            </section>
        </article>
    </main>

</body>

</html>