<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/pseudo_classes.css">

    <!-- Para baixo temos fontes importadas do google api fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=BJ+Cree:wght@400;500;600;700&family=Bitcount+Grid+Double:wght@100..900&family=Fira+Code:wght@300..700&family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sekuya&display=swap"
        rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=BJ+Cree:wght@400;500;600;700&family=Bitcount+Grid+Double:wght@100..900&family=Fira+Code:wght@300..700&family=Orbitron:wght@400..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sekuya&display=swap"
        rel="stylesheet">
    <title>Pseudo Classes</title>
</head>

<body>
    <header>
        <h1>Pseudo Classes</h1>
    </header>
    <main>
        <article>
            <h2 class="h2-header">Exemplo de Pseudo Classes</h2>
            <section>
                <h2>O que vamos ver?</h2>
                <div>
                    <a href="https://developer.mozilla.org/pt-BR/docs/Web/CSS/Reference/Selectors/Pseudo-classes">Exemplo
                        1</a> |
                    <a href="https://onepagelove.com/void">Exemplo 2</a> |
                    <a href="https://onepagelove.com/hyve-systems">Exemplo 3</a> |
                    <a href="https://onepagelove.com/fabric">Exemplo 4</a>
                </div>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt, nulla. Eaque magnam, nam aperiam
                    repudiandae provident eum dolorum? Similique in recusandae explicabo quaerat tempora rerum vero
                    laudantium sed enim quidem?</p>
            </section>
            <hr>
            <section>
                <h2>Explicando</h2>
                <p>As pseudo-classes servem para definir o estado de um elemento. Não é exatamente uma lógica de
                    programação, mas é uma forma de o CSS entender o que está acontecendo no momento. Por exemplo: se o
                    usuário passa o mouse em cima de um link, se ele clica em um botão ou se ele já visitou aquela
                    página. É como se a gente desse uma instrução para o estilo mudar dependendo da interação do
                    usuário.</p>
            </section>
        </article>
    </main>

</body>

</html>