* {
    margin: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    padding: 2rem;
}

p span:hover{
    color: yellow;
}

p a:visited {
    text-decoration-color: lightcoral;
    color: lightcoral;

}

div input:checked + label{
    color: lightblue;
    font-weight: bold;
    text-decoration: underline;
}

