main {
    margin-top: 2rem;
    flex-grow: 1;
}

img {
    border-radius: 20px;
}

.body {
    max-width: 85%;


    margin: 0 auto;
}

.image-hero {
    padding: 10px;

}
.card {
    display: flex;
}

.container-content {
    padding: 10px;
}