.body {
    /* display: flex; */
    max-width: 100%;
    flex: 1;
    padding: var(--32px-to-rem) 0;
}

.container-main {
    max-width: 90%;
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.132);
}

form {
    margin: 10px;
    font-family: "Outfit", sans-serif;
}

#delete:hover {
    background-color: lightcoral;
}
#apply:hover {
    background-color: lightgreen;
}

label {
    cursor: pointer;
}