* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
body {
    /* min-height: 100vh; */
    background-color: rgb(255, 255, 255);
}

h1{
    font-size: 25px;
    font-family: "Sekuya";
    text-align: center;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.178);

    padding-bottom: 20px;
    padding-top: 20px;
}
main {
    width: 100%;
    margin: auto;
}
div.container {
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
}
ul {
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
li {
      list-style-type: none;
}
a {
    width: 100px;
    height: 50px;
    padding: 30px;
    border-radius: 10px;
    
    background-color: #0D1117;
    color: rgb(255, 255, 255);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    
    text-decoration: underline;
    font-family: "Outfit";
    font-weight: bold;
    display: inline-block;
    text-align: center;
    /* border: 5px solid lightblue; */

    
}
a:hover {
    color: hotpink;
}