:root {
    --color_option_1: rgba(240, 128, 128, 0);
    --color_option_2: rgb(0, 0, 0);
    --color_option_3: white;
}

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Outfit";
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
   
}
main {
    width: 90%;
    max-width: 700px;

    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    justify-content: center;
    align-items: center;
}
article{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
 header {
    display: flex;
    justify-content: center;
} 
div {
    background-color: var(--color_option_3);
}
section {
    width: 100%;
    justify-content: center;
    align-content: center;
}

h1 {
    font-family: "Sekuya";
    text-align: center;
    font-size: 30px;

    margin-bottom:20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.161);
    padding: 0 20px;
    border-radius: 10px;
}

h2 {
    text-align: left;
}

img {
    width: 100%; /* 100% do container pai */
    max-width: 100%;
    height: auto; /* mantém a proporção */
    display: block; /* remove espaço extra embaixo */
    border-radius: 20px;
}
p {
    border-radius: 10px 10px 10px 10px;
    padding: 15px;
    margin-bottom: 20px;
    text-align: center;
    /* box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.161); */
}
span {
    color: var(--color_option_3);
    background-color:var(--color_option_2);
    border-radius: 5px;
    padding: 2px;
}